html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
td,
legend,
li {
  font-family: 'Bitwise';
  color: #66ff00;
  text-align: center;
}

h1,
h2,
h3,
th {
  font-family: 'Overseer';
  color: #66ff00;
  text-align: center;
}

body {
  background-color: #000; /* Set the background color to black */
}

hr {
  border-color: #66ff00;
}

* {
  box-sizing: border-box;
}

label {
  font-family: 'Bitwise';
  color: #66ff00;
}

input,
button,
select {
  font-family: 'Bitwise';
  color: black;
  background-color: #66ff00;
}

ul {
  list-style-position: inside; /* Place the bullets inside the list item */
  text-align: center; /* Center the text within the list item */
}

li {
  display: block; /* Ensure the list items are displayed as block elements */
}

@font-face {
  font-family: 'Bitwise';
  src: url(/Fonts/Bitwise.ttf);
  /* Add additional font formats as needed */
}

@font-face {
  font-family: 'Overseer';
  src: url(/Fonts/Overseer.otf),
  /* Add additional font formats as needed */
}